
.navbar-brand {
    /*max-width: 50%;*/
}
.navbar-brand img {
    width:50px;
    height:50px;
    margin-top: -14px;
    padding:2px;
}
#menubar-logo img{
    margin-top:10px;
    margin-bottom:20px;
    margin-right:10px;
}

.list-icon {
    width:70px;
}

.promo {
    /*background-image: url(../images/promos/zastavka1024x748.png);*/
    /*background-image: url(../images/promos/bg.png);*/
    background-image: image-url("home/shop_cart.png");
}

body { padding-top: 70px; }

.dropdown-menu::before,
.dropdown-menu::after {
    border: none;
    content: none;
    overflow:hidden;
    /*!important;*/
}


.big-btns li{
    display:inline-block;
}
.big-btns li a{
    width: 219px;
    height: 77px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    filter: alpha(opacity=50);
    opacity: 0.7;
}
.big-btns li a:hover{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity:1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.iapps{
    background: image-url('home/img-sprit.png') no-repeat 0px -65px;
}
.gapps{
    background: image-url('home/img-sprit.png') no-repeat -240px -65px;
}
.big-btns {
    margin-top: 2em;
}

.fag_icon1 {
  background: image-url('home/img-sprit.png') no-repeat -262px -142px;
}

a.tooltip::before {
  content: attr(data-tip) ;

  font-size: 10px;
  position:absolute;
  z-index: 999;
  white-space:nowrap;
  bottom:9999px;
  left: 50%;
  background:#000;
  color:#e0e0e0;
  padding:0px 7px;
  line-height: 24px;
  height: 24px;

  opacity: 0;
  transition:opacity 0.4s ease-out;
}

a.tooltip:hover::before {
  opacity: 1;
  bottom:-35px;
}