
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<img class="navbar-brand" src="images/shopomob.png"/>-->

            <a class="navbar-brand" href="#">
                <img src="assets/home/shopomob.png"  alt=""/>
            </a>
            <a class="navbar-brand" href="#">
                ШопоМоб.Справочник <small>Владикавказ</small>
            </a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--render_navigation :expand_all => true, :renderer => :bootstrap-->
                <%= render_navigation(level:1, expand_all: true, renderer: :bootstrap ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap_topbar_list) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap_list) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap3 ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap2 ) %>

                <!--<li class="dropdown">-->
                    <!--<%= render_navigation(level: 2)%>-->
                <!--</li>-->
                <!--<li class="active"><a href="#">Алфавитный указатель</a></li>-->
                <!--<li class=""><a href="#">Рубрики</a></li>-->
                <!--<li class=""><a href="#">Категории</a></li>-->

                <!--<li class="dropdown" id="my_items" opts="{:icon=>&quot;icon-th&quot;}">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown"  href="items#">My Items</a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li id="item_1" opts="{:is_subnavigation=>true}">-->
                            <!--<a href="items/1">Item 1</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Реклама в справочнике</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Аренда мобильных приложений (Android & iOS)</a></li>-->
                        <!--<li><a href="#">Аренда интернет-магазинов</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">СМС-рассылка</a></li>-->
                        <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Заказная разработка (мобильных приложения и игры, интернет-магазины)</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Поиск организаций ...">
                </div>
                <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-search"></span>&nbsp</button>

            </form>



            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--&lt;!&ndash;<li><a href="#">Link</a></li>&ndash;&gt;-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Реклама в справочнике</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Аренда мобильных приложений (Android & iOS)</a></li>-->
            <!--<li><a href="#">Аренда интернет-магазинов</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">СМС-рассылка</a></li>-->
            <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Заказная разработка (мобильных приложения и игры, интернет-магазины)</a></li>&ndash;&gt;-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>