
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<img class="navbar-brand" src="images/shopomob.png"/>-->

            <a class="navbar-brand" href="#">
                <img src="<%=root_url%>assets/home/shopomob.png"  alt=""/>
            </a>
            <a class="navbar-brand" href="#">
                ШопоМоб.Справочник <small>Владикавказ</small>
            </a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <!--render_navigation :expand_all => true, :renderer => :bootstrap-->
                <%= render_navigation(level: 1, expand_all: true, renderer: :bootstrap ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap_topbar_list) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap_list) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap3 ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap2 ) %>

                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Реклама в справочнике</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Аренда мобильных приложений (Android & iOS)</a></li>-->
                        <!--<li><a href="#">Аренда интернет-магазинов</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">СМС-рассылка</a></li>-->
                        <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Заказная разработка (мобильных приложения и игры, интернет-магазины)</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>

            <form id="nav-search-form" class="navbar-form navbar-left" action='<%= "#{root_url}search/shop/%20/"%>' method="post" role="search">
                <div class="form-group">
                    <input name="utf8" type="hidden" value="✓">
                    <input name="authenticity_token" type="hidden" value="7ZywC6kmI0cC5BE1AlBKexfCB430TqKkD9fCqTUtKr8=">
                    <input id="nav-search" type="text" name="squery" class="form-control" placeholder="Введите что-нибудь ...">
                    <!--<input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">-->
                </div>
                <button type="submit" class="btn btn-default ">найти организацию <span class="glyphicon glyphicon-search"></span>&nbsp</button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


