<!--xs (phones), sm (tablets), md (desktops), and lg (larger desktops)-->


<div class="row">

    <div class="col-xs-2 col-md-2">
        <aside>
            <!--<h2>Рубрики/Категории</h2>-->
            <%= render(:partial=> 'home/category', locals: {items: @items, parent: false, error: t('no_cats')}) || t('no_shops') %>
        </aside>
    </div>

    <div class="col-xs-3 col-md-3">
        <aside>
            <%= render(:partial=> 'home/company_list', locals: {items: @shops, title: t('shops')}) || t('no_shops') %>
        </aside>
    </div>

    <div class="col-xs-3 col-md-3">
        <section>
            <article>
                <%= render(:partial=> 'home/company_item', locals: {title: t('shops')}) || t('no_shops') %>
            </article>
        </section>
    </div>
    <div class="col-xs-4 col-md-4">
        <!--<h2>Баннеры/Реклама</h2>-->
        <%= render(:partial=> 'home/vertical_banner')%>
    </div>
</div>