
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="jumbotron text-center promo">
        <h2>Качайте справочник Владикавказа бесплатно</h2>
        <ul class="big-btns">
        <li><a class="iapps" href="#"></a></li>
        <li><a class="gapps" href="#"> </a></li>
        <div class="clear"> </div>
        </ul>
        </div>
    </div>
</div>

<div id="renta" class="row">
    <div class="col-xs-12 col-md-4">
        <%=image_tag("home/device.png", class:"center-block")%>
    </div>
    <div class="col-xs-12 col-md-4">
        <%=image_tag("home/shopomob_logo.png", class:"")%>

        <h2>Электронный магазин
            на iPhone, iPad и Android.</h2>

        <ul>
            <li><span> </span>Разделы: О компании, новости, каталог товаров, схема проезда, поиск по товарам, корзина покупателя, список желаний, история покупок, контакты, профайл покупателя </li>
            <li><span> </span>Автономная работа без интернета</li>
            <li><span> </span>Пуш-уведомления</li>
            <li><span> </span>Звонки на телефон и скайп</li>
            <li><span> </span>СМС-рассылка</li>
            <li><span> </span>Техническая поддержка</li>
            <li><span> </span>Синхронизация с интернет-магазином</li>
        </ul>
        <ul class="big-btns">
            <li><a class="iapps" href="http://itunes.apple.com/us/app/shopomob-sopomob-mobil-noe/id861438900?mt=8"></a></li>
            <li><a class="gapps" href="https://play.google.com/store/apps/details?id=com.shopomob.demo.android"> </a></li>
            <div class="clear"> </div>
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Тарифные планы</div>
            <div class="panel-body">Три тарифных плана. Минимальный, Нормальный и Максимальный. Выберите подходящий.
            </div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <td><a href="#" title="широкий охват аудитории" class="">Платформы: Android и iOS (iPhone и iPad)</a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="приложение может работать без интернета" class="">Автономная работа без интернета</a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="доступный способ информирования Ваших клиентов" class="">СМС-рассылка</a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="набор номера телефона или скайп-звонок со смартфона клиента" class="">Набор номера телефона и Скайп-вызов</a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="содержит логотип и описание Вашей компании " class="">О компании</a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="список ваших контактов: (телефон, скайп, веб-сайт, электронная почта)" class="">Контакты</a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="каталог продукции, где можно ознакомится с описанием товара, заказать, отложить или добавить в корзину." class="">Каталог товаров</a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="схематичное расположение Вашего магазина или офиса" class="">Схема проезда</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="Поиск товара по названию, цене" class="">Поиск по всем товарам</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="список товаров для отправки заказа по смс, почте" class="">Корзина покупателя</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="покупатель может вернуться к покупке отложенных товаров позже" class="">Список желаний (отложенные товары)</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="информация обо всех обновлениях и акциях бренда" class="">Новости</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="Список всех купленных товаров клиента" class="">История покупок</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="Информирование клиентов (аналогично смс-рассылке, только бесплатно)" class="">Пуш-нотификации</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <tr>
                    <td><a href="#" title="Обновляйте каталог продукции без перевыпуска приложения в Вашем интернет-магазине" class="">Синхронизация с интернет-магазином</a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></td>
                    <td><span class="glyphicon glyphicon-ok"></td>
                </tr>
                <!--<tr>-->
                <!--<td><a class="Price" title="ежемесячная плата" href="#">Абонентская плата (руб./месяц)</a></td>-->
                <!--<td><span class="glyphicon glyphicon-remove"></span></td>-->
                <!--<td><span class="glyphicon glyphicon-remove"></td>-->
                <!--<td><span class="glyphicon glyphicon-ok"></td>-->
                <!--</tr>-->
            </table>
        </div>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-6">-->
    <!--</div>-->
    <!--<div class="col-xs-6 col-md-6">-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-xs-12 col-md-4">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <%=image_tag("home/faq_profit.png", class:"media-object")%>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Выгодно</h4>
                    Аренда приложения гораздо дешевле, чем при заказной разработке или содержания штата программистов. Цена соизмерима с месячной зарплатой работника коллцентра
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <%=image_tag("home/faq_quick.png", class:"media-object")%>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Быстро</h4>
                    Поможем запустить Ваш электронный магазин прямо сегодня! Звоните по телефону +7 (989) 748 03 10 или пишите по адресу shopomob@shopomob.ru при наличии вопросов. Договор можно прислать на
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <%=image_tag("home/faq_android_ios.png", class:"media-object")%>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Популярные мобильные платформы</h4>
                    Поддержка популярных платформ Google Android и Apple iOS, которые вместе занимают большую часть рынка.
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <%=image_tag("home/faq_tools.png", class:"media-object")%>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Эффективный инструмент онлайн-продаж</h4>
                    Легко продавать Ваши продукты или услуги. Извещать покупателей о новых постулениях, распродажах, специальных акциях и скидках.
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <%=image_tag("home/faq_updates.png", class:"media-object")%>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Регулярные обновления</h4>
                    Наши клиенты пользуются самыми свежими версиями мобильного приложения и берут по максимуму от мобильных технологий.
                </div>
            </li>
        </ul>
    </div>
</div>

    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> Что такое ShopoMob (ШопоМоб)?</h3>
                </div>
                <div class="panel-body">
                    <p>ShopoMob - это электронный магазин на мобильных платформах Android и iOS (iPhone и iPAD).</p>
                </div>
                <!--<div class="panel-footer"></div>-->
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Какие платформы поддерживает ShopoMob?</h3>
                </div>
                <div class="panel-body">
                    ShopoMob поддерживает следующие платформы: iPhone, iPad, и Android.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Зачем мне мобильное приложение?</h3>
                </div>
                <div class="panel-body">
                    Если у Вас есть продукты или услуги, которые Вы хотели бы прорекламировать, то мобильное приложение станет Вам хорошим помощником. Создайте мобильное приложение при помощи ShopoMob и получите возможность быть на связи с Вашими клиентами.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Чем отличается ShopoMob от других приложений?</h3>
                </div>
                <div class="panel-body">

                    Shopomob, в отличии от большинства приложений:
                    <ul>
                        <li> может работать без интернета (автономно)</li>
                        <li>нативное приложение (не путать с гибридными и HTML5 приложенями - подробности <a href="http://habrahabr.ru/company/devexpress/blog/186050/)">здесь</a>)</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Сколько времени займет создание и запуск приложения?
                    </h3>
                </div>
                <div class="panel-body">
                    Для платформы Android сразу же, после заключения договора, оплаты и заполнением приложения необходимой информацией (контакты, о компании, товары с фотографиями и ценами, логотип компании). Для iOS (iPhone и iPad) модерация в Apple Store занимает от 2 недель.
                </div>
            </div>
            <!--<div class="panel-footer"></div>-->
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">У меня есть (планируется) мобильная версия сайта, которая отлично отображается на мобильных устройствах, зачем мне расходы на приложение?
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Приложение предоставит вашему бизнесу новые возможности:</p>
                    <ul class="faq">
                        <li>Клиент устанавливает его по своему желанию, и «иконка» приложения всегда будет перед его глазами. Это очень интересный маркетинговый инструмент. Смартфон это наше личное пространство, рядом с вашим логотипом на экране будут иконки с смс сообщениями друзей и близких, иконками социальных сетей, любимые игры и.т.д.
                        </li>
                        <li>Телефон используют в месте где не удобно использовать экран и нет кучи альтернативных площадок с информацией в виде web сайтов. Примеры: кровать, кресло, салон автомобиля.
                        </li>
                        <li>Приложение обновляется, напоминая о себе. Подписчик подсознательно понимает, что обновление это признак “здорового” роста организации, раз есть средства и время на сложную разработку, плюс это дополнительная возможность ненавязчиво напомнить о своих товарах и услугах. Проверено на практике: в день обновления количество заказов увеличивается больше чем на 35%.
                        </li>
                        <li>Приложение использует все возможности мобильного устройства (программные и аппаратные), тем самым расширяя свои возможности. Например у нас есть интересные кейсы: вызов телефонного номера;горизонтальная и вертикальная ориентация экрана, логика push сообщений.
                        </li>
                        <li>Добиться от мобильной версии сайта комфортного интерфейса, особенно на средних моделях современных смартфонов крайне сложно. Интерфейс наших приложений нативный, например просмотр каталога не отличается от просмотра записной книжки, и даже если у пользователя “тормозной″ китайский Android, ваше приложение будет работать не хуже, чем его система, в отличии от мобильной версии, ресурсопожирающий движок которой добъет несчастный телефон.</li>
                        <li>По нашей статистике не менее половины подписчиков приложения, обращаются к нему повторно и не однократно. Это ваша лояльная аудитория.
                        </li>
                    </ul>
                    <p>Однако это не значит, что приложения должны заменить вам сайт. По хорошему нужно то и другое. А с нашим сервисом мобильные приложения доступны уже сейчас.</p>
                </div>
            </div>
            <!--<div class="panel-footer"></div>-->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="jumbotron text-center">
                <h2>Оставайтесь с нами </h2>
                Вы также можете связаться с нами по электронной почте support@shopomob.ru или по телефону +7 (989) 748 03 10. Рады будем помочь Вам.
            </div>
        </div>
    </div>
