<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="jumbotron text-center promo">
        <h2>Качайте справочник Владикавказа бесплатно</h2>
        <!--<p>с Goole Play или App Store</p>-->
        <!--<p>-->
        <!--<a href="https://play.google.com/store/apps/details?id=com.shopomob.demo.android" class="btn btn-primary btn-lg" role="button">Android</a>-->
        <!--<a href="http://itunes.apple.com/us/app/shopomob-sopomob-mobil-noe/id861438900?mt=8" class="btn btn-primary btn-lg" role="button">iOS (iPhone+iPad)</a>-->
        <!--</p>-->
        <ul class="big-btns">
        <li><a class="iapps" href="
        http://itunes.apple.com/us/app/shopomob-sopomob-mobil-noe/id861438900?mt=8">
            <!--http://itunes.apple.com/ru/app/com.shopomob.demo.ios/id857710888?mt=8">--> </a></li>
        <li><a class="gapps" href="https://play.google.com/store/apps/details?id=com.shopomob.demo.android"> </a></li>
        <div class="clear"> </div>
        </ul>
        </div>
    </div>
</div>

