<!--xs (phones), sm (tablets), md (desktops), and lg (larger desktops)-->

<%= render_navigation( level: 2, expand_all: true, renderer: :bootstrap ) %>
<%#= render_navigation (level: 1, renderer: :bootstrap) %>

<div class="row">

    <div class="col-xs-3 col-md-3">
        <aside>
            <%= will_paginate @shops %>
            <%#= render_navigation( level: 3, expand_all: true, renderer: :bootstrap ) %>

            <ul class="nav nav-pills nav-stacked list-icon">
                <!--<ul class="nav nav-pills nav-stacked list-icon">-->
                <% @shops.each do |item| %>
                    <!--<li class="active"><a href="#"><img class="img-circle" src="assets/home/shopomob.png"/> Adec</a></li>-->
                    <!--<li><a href="#"><img class="img-circle" src="assets/home/shopomob.png"/> ShopoMob</a></li>-->
                    <li><%#= link_to item.name, shops_path(item) %>
                        <a href='<%="#{shops_path}/#{item.id}?query=#{ (params[:query].blank?) ? "a" : params[:query]}&page=#{ (params[:page].blank?) ? "1" : params[:page]}"%>'>
                        <!--<img class="img-circle" src='<%= (item.images.first != nil) ? item.images.first.image_url.to_s : "#{root_url}assets/home/shopomob.png" %>'/>-->
                            <%= image_tag( (item.try(:images).try(:first).try(:image_url).blank?) ? "#{root_url}assets/missing.png" : item.images.first.image_url, :class => "img-circle") %>
                            <%= item.name %>
                            <!--<small><%= item.address %></small>-->
                        </a>
                    </li>
                <% end %>
            </ul>

            <%= will_paginate @shops %>
        </aside>

    </div>
    <div class="col-xs-6 col-md-6">
        <section>
            <article>
                <% if (@shop) %>
                <header>
                    <h2><%=@shop.try(:name) %></h2>
                </header>
                <p>
                    <!--<img class="img-thumbnail" src="<%=root_url%>assets/home/b2458.png">-->
                    <% @shop.try(:images).each do |image| %>
                    <%= image_tag (image.try(:image_url)) if (image != nil )  %>
                    <% end %>
                    <%#= image_tag (@shop.try(:images).try(:first).try(:image_url)) if (@shop.try(:images).try(:first) != nil )  %>

                </p>
                <p><%#=@shop.try(:name) %></p>
                <p><%=@shop.try(:time_work) %></p>
                <p><%#=@shop.try(:postal_code) %><%=@shop.try(:address) %></p>
                <p><%=@shop.try(:www) %></p>
                <% @shop.try(:contact_items).each do |contact| %>
                <p><%= contact.value %></p>
                <% end %>
                <p><%= @shop.try(:description) %></p>
                <%#= link_to @shop.name, controller: "home", action: "shops", id: @shop %>
                <% end %>
            </article>
        </section>
    </div>
    <div class="col-xs-3 col-md-3">
        <h2>Баннеры/Реклама</h2>
        <!--<p><img class="img-thumbnail" src="assets/home/b2458.png"></p>-->
        <img class="img-thumbnail" src="<%=root_url%>assets/home/b1498.png">
        <img class="img-thumbnail" src="<%=root_url%>assets/home/b2458.png">
        <img class="img-thumbnail" src="<%=root_url%>assets/home/b1498.png">
        <img class="img-thumbnail" src="<%=root_url%>assets/home/b2458.png">
        <img class="img-thumbnail" src="<%=root_url%>assets/home/b1498.png">

    </div>
</div>