
<div class="row">

  <div class="col-xs-12 col-md-3">
    <aside>
      <%= render(:partial=> 'home/tcategory', locals: {items: @tcats, error: t('no_tcats')}) || t('no_shops') %>
    </aside>
  </div>
    <!--<div class="col-xs-1 col-md-1">-->
        <!--<aside>-->
            <!--&lt;!&ndash;<h2>Рубрики/Категории</h2>&ndash;&gt;-->
          <!--<%#= render(:partial=> 'home/tcategory', locals: {items: @items, parent: true, error: t('no_tcats')}) || t('no_shops') %>-->
        <!--</aside>-->
    <!--</div>-->
    <!--<div class="col-xs-1 col-md-1">-->
        <!--<aside>-->
          <!--<%#= render(:partial=> 'home/tcategory', locals: {items: @sub_items, parent: false, error: t('no_tcats')}) || t('no_shops') %>-->
        <!--</aside>-->
    <!--</div>-->

    <div class="col-xs-12 col-md-2">
        <aside>
          <%#= render(:partial=> 'home/company', collection: @shops, as: :items, locals: {items: @shops, title: t('shops')}) || t('no_shops') %>
          <%= render(:partial=> 'home/company_list', locals: {items: @shops, title: t('shops')}) || t('no_shops') %>
        </aside>
    </div>

    <div class="col-xs-12 col-md-3">
        <section>
            <article>
              <%= render(:partial=> 'home/company_item', locals: {title: t('shops')}) || t('no_shops') %>
            </article>
        </section>
    </div>

    <div class="col-xs-12 col-md-4">
      <!--<h2>Баннеры/Реклама</h2>-->
      <%= render(:partial=> 'home/vertical_banner')%>
    </div>
</div>