<!DOCTYPE html>
<html>
<head>
  <title>Shopomob</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top_header">
  <div class="title">ШопоМоб/ShopoMob</div>
  <div class="sub">Электронный справочник Владикавказа</div>
</div>
<%= yield %>

</body>
</html>
